@import "color";
@import "default";
@import "main";
@import "product"; 
@import "addproduct";
@import "productd";
@import "orderd";
.graph {
    height: 500px;
    margin: 1rem auto;
    width: 95%;
    max-width: 110rem;
    border-radius: 8px;
    overflow: hidden;
  }
  .selectionrow {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .sectbord,
    .wrap {
      width: 95%;
      max-width: 110rem;
      background-color: #fff;
      padding: 1rem 1.7rem;
      border-radius: 5px;
    }
    .wrap {
      margin-bottom: 1rem;
     span {
        display: inline-block;
        padding: 0.55em 0.5em;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.75rem;
        background-color: #eefff2;
        color: #1fd46a;
        margin: 0.5rem;
      }
    }
    .sectbord {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-between;
      .card {
        padding: 1rem;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10rem;
        width: 15rem;
        .image {
          ion-icon {
            font-size: 5rem;
          }
        }
        .write {
          span {
            font-size: 1.7rem;
          }
        }
      }
      .active {
        border-radius: 0px 15px 0px 15px;
      }
      .dts {
        background-color: #4285f4;
      }
      .cts {
        background-color: #5e35b1;
      }
      .dvs {
        background-color: #00897b;
      }
      .pgs {
        background-color: #e8710a;
      }
      .dts_ {
        background-color: #ffffff;
        color: $main;
        border: 1px solid $border;
        .image{
          span{
            font-size: 3rem;
            font-weight: 500;
          }
        }
      }
      .cts_ {
        background-color: #ffffff;
        color: $main;
        border: 1px solid $border;
        .image{
          span{
            font-size: 3rem;
            font-weight: 500;
          }
        }
      }
      .dvs_ {
        background-color: #ffffff;
        color: $main;
        border: 1px solid $border;
        .image{
          span{
            font-size: 3rem;
            font-weight: 500;
          }
        }
      }
      .pgs_ {
        background-color: #ffffff;
        color: $main;
        border: 1px solid $border;
        .image{
          span{
            font-size: 3rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .view {
    display: initial;
  }
  @media screen and (max-width: 721px) {
    .selectionrow {
      .sectbord {
        .card {
          height: 9rem;
          width: 13rem;
          .image {
            ion-icon {
              font-size: 4rem;
            }
          }
          .write {
            span {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 604px) {
    .selectionrow {
      .sectbord {
        .card {
          height: 8rem;
          width: 11rem;
          .image {
            ion-icon {
              font-size: 3rem;
            }
          }
          .write {
            span {
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 516px) {
    header {
      padding: 1.5rem 2rem;
      h4 {
        font-size: 2rem;
      }
    }
    .selectionrow {
      .wrap {
        margin-bottom: 1rem;
        h5 {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      .sectbord {
        .card {
          height: 7rem;
          width: 10rem;
          .image {
            ion-icon {
              font-size: 3rem;
            }
          }
          .write {
            span {
              font-size: 1.3rem;
            }
          }
        }
        .dts_,.pgs_,.cts_,.dvs_{
          .image span{
            font-size: 2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 469px) {
    header {
      padding: 1.5rem 1rem;
      h4 {
        font-size: 2rem;
      }
    }
    .selectionrow {
      .wrap {
        margin-bottom: 1rem;
        h5 {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      .sectbord {
        .card {
          height: 5rem;
          width: 7rem;
          .image {
            ion-icon {
              font-size: 2rem;
            }
          }
          .write {
            span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 341px) {
    .selectionrow {
      .wrap {
        margin-bottom: 1rem;
        h5 {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .sectbord {
        grid-template-columns: auto auto;
        .card {
          height: 8rem;
          margin: 0.5rem 0;
          width: 10rem;
          .image {
            ion-icon {
              font-size: 4rem;
            }
          }
          .write {
            span {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .datas {
    display: flex;
    align-items: center;
    justify-content: center;
    .dta {
      padding: 1rem;
      background-color: #fff;
      width: 95%;
      max-width: 110rem;
      border-radius: 8px;
      overflow: hidden;
      margin-top: 2rem;
      margin-bottom: 4rem;
      table{
        width: 100%;
        thead th{
          font-size: 1.3rem;
          color: #919292;
          padding: 2rem 0;
          border-bottom: 1px solid rgb(122, 122, 122);
        }
        tbody{
          width: 100%;
          tr td{
            text-align: center;
            font-size: 1.4rem;
            padding: 1.9rem 0;
            color: #00897b;
            border-bottom: 1px solid #e6e6e6;
            overflow-wrap: break-word;
            max-width: 6rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 604px){
    .datas {
      .dta {
        table{
          thead th{
            font-size: 1.1rem;
          }
          tbody{
            tr td{
              text-align: center;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }